body
{
  color: white;
  background: #36e4be;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed rgb(12, 8, 248);
  width: 350px;
  height: 300px; 
}
.object_name
{
  font-size: 40px;
}
.gesture_icon
{
  font-size:48px;
}
.heading
{
  font-size: 18px;
  border-radius: 10px;
  letter-spacing: 10px;
}
label
{
  font-size: 14px;
  color: #f72424;
  padding: 6px;
  border-radius: 10px;
  background-color: white;
}

